---
title: Deployment | Localhost
body_classes: internal
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
page_title: The Localhost</br>Deployment
lead_paragraph: "Introducing a multi-city - supercharged - touring meetup -  roadshow. <small>Actually.</small>"
noSubscribe: true
noMiniColumn: true
layout: layout
ogp:
  og:
    description: 'Introducing a multi-city - supercharged - touring meetup -  roadshow. Actually.'
    image:
      '': https://www.localhost.events/images/ogimage-deployment.jpg
      secure_url: https://www.localhost.events/images/ogimage-deployment.jpg
      type: image/jpg
      width: 1200
      height: 630
  fb:
    description: 'Introducing a multi-city - supercharged - touring meetup -  roadshow. Actually.'
    image:
      '': https://www.localhost.events/images/ogimage-deployment.jpg
      secure_url: https://www.localhost.events/images/ogimage-deployment.jpg
      type: image/jpg
      width: 1200
      height: 630
---
<% content_for :header do %>
<header class="header-home">
  <div class="deployment-logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 627.43 68.35" aria-role="img">
      <title>Localhost Deployment</title>
      <defs><style>.cls-1{fill:#ede600;}.cls-2{fill:#79b9f6;}.cls-3{fill:#f27959;}.cls-4{fill:#1d1d1b;}.cls-5{fill:#74de7d;}</style></defs><title>deploymend-logo</title><g id="Layer_2" data-name="Layer 2"><g id="Assets"><rect class="cls-1" x="440.05" y="6.4" width="45" height="61.95"/><rect class="cls-2" x="582.72" y="6.4" width="16.05" height="61.95"/><circle class="cls-3" cx="259.1" cy="37.55" r="30.8"/><path class="cls-4" d="M58,30.8a34.75,34.75,0,0,1-2.35,13,27.2,27.2,0,0,1-6.85,10,30.7,30.7,0,0,1-11.15,6.4A47.52,47.52,0,0,1,22.4,62.5H0V0H23.5A45.17,45.17,0,0,1,38.2,2.2,30.22,30.22,0,0,1,49,8.45a26.71,26.71,0,0,1,6.7,9.7A33.3,33.3,0,0,1,58,30.8Zm-16,.6q0-9.65-4.85-14.12T22.5,12.8H15.9V49.7h7.4q8.7,0,13.7-4.48T42,31.4Z"/><path class="cls-4" d="M446.65,0h45.6V10.45h-45.6Z"/><path class="cls-4" d="M446.65,51.9h45.6V62.35h-45.6Z"/><path class="cls-4" d="M447.11,26.08h45.6V36.53h-45.6Z"/><rect class="cls-5" x="62.57" y="6.4" width="45" height="61.95"/><path class="cls-4" d="M69.17,0h45.6V10.45H69.17Z"/><path class="cls-4" d="M69.17,51.9h45.6V62.35H69.17Z"/><path class="cls-4" d="M69.63,26.08h45.6V36.53H69.63Z"/><path class="cls-4" d="M174.4,21.7q0,11-7.15,16.8T146.6,44.3l-6.1.1V62.5H124.6V0h23.1a37.67,37.67,0,0,1,11.55,1.6A24.65,24.65,0,0,1,167.6,6a18.07,18.07,0,0,1,5.1,6.85A22.28,22.28,0,0,1,174.4,21.7Zm-15.8.4q0-9.5-12.1-9.5h-6.4V32.1l6.4-.1q6.2-.1,9.15-2.6T158.6,22.1Z"/><path class="cls-4" d="M184,62.5V0h15.9V49.2h26.2V62.5Z"/><path class="cls-4" d="M333.1,38.8V62.5H317.6V38.7L295.8,0h16.9l12.85,24.7L338,0h16.8Z"/><path class="cls-4" d="M420,14.3,406.3,61.5h-17L375.6,14.4l-.4,48.1H360.4L362.6,0h22.5l13,46.9L411.1,0h22.2l2.1,62.5H420.3Z"/><path class="cls-4" d="M546.7,0h14.9V63.1H544.7L518.4,22V62.5H503.5V0h17.2l26,40.6Z"/><path class="cls-4" d="M264.1,12.75a18.8,18.8,0,1,1-18.8,18.8,18.82,18.82,0,0,1,18.8-18.8m0-12a30.8,30.8,0,1,0,30.8,30.8A30.8,30.8,0,0,0,264.1.75Z"/><path class="cls-4" d="M607.53,13.3V62.5h-15.9V13.3h-19.9V0h55.7V13.3Z"/></g></g></svg>
      4 speakers. 4 locations. 4 days.
    </div>
  </header>
<% end %>

<div class="deployment-ticket-group">
  <%= partial('partials/components/deployment/deployment-day', :locals => {
  :date => "Tues<br/>6 June",
  :day => "Day One",
  :location => "PER",
  :button_text => "Sold Out",
  :link => "https://www.eventbrite.com.au/e/localhost-deployment-tickets-33542351075"
  }) %>
  <%= partial('partials/components/deployment/deployment-day', :locals => {
  :date => "Wed<br/>7 June",
  :day => "Day Two",
  :location => "MEL",
  :button_text => "Buy Tickets",
  :link => "https://www.eventbrite.com.au/e/localhost-deployment-tickets-33542351075"
  }) %>
  <%= partial('partials/components/deployment/deployment-day', :locals => {
  :date => "Thur<br/>8 June",
  :day => "Day Three",
  :location => "SYD",
  :button_text => "Buy Tickets",
  :link => "https://www.eventbrite.com.au/e/localhost-deployment-tickets-33542351075"
  }) %>
  <%= partial('partials/components/deployment/deployment-day', :locals => {
  :date => "Fri<br/>9 June",
  :day => "Day Four",
  :location => "BNE",
  :button_text => "Buy Tickets",
  :link => "https://www.eventbrite.com.au/e/localhost-deployment-tickets-33542351075"
  }) %>
</div>

<div class="dear-community">
  <div class="image">
    <img src="/images/dear-community.jpg" />
  </div>
  <div class="content">
    <h2>Dear community peeps who love all things creative, web &amp; digital,</h2>

    <p>Yep, you’ve heard correctly; we’re picking up 4 speakers from destinations across Australia and bringing them to your city on a touring meetup roadshow.</p>

    <p>We’ll bring them &amp; their awesome talk topics to you, along with some great food, drinks and friendly company; all you need to do is come along and enjoy. Whhhaatttt?</p>

    <p>It all sounds a bit awesome, doesn’t it? Yeah, we think so too. Read the back-story here or grab your tickets now (limited spots, so get in quick!).</p>
  </div>
</div>



<div class="deployment-line-up">
  <h3>Who’s Representin’, <br />
  &amp; what are they <br />
  presentin’?</h3>

  <div class="row">
  <%= partial('partials/components/deployment/speaker-card', :locals => {
    :name => "Brett Jones",
    :position => "Designer &amp; Developer @ <br />Pin Payments",
    :location => "PER",
    :image => "/images/events/Brett.jpg",
    :title => "Less Glamorous Elements of Design",
    :long_text => "<p>With the rate of change in our industry, self-learning is more important than ever. Yet actually knowing what to learn as a designer can be difficult. Especially since there are important, fundamental elements of design which many corners of the internet do not surface — unless you already know exactly what to look for.</p>

    <p>It is often the surface–level, aesthetic layer of design which is given prominent focus — it is the easiest aspect of design to appreciate, understand, and recognise as a valuable skill to cultivate. It is also what attracts many young aspiring designers to the industry in the first place.</p>

    <p>In \"Less Glamorous Elements of Design\", I will explore some important, yet easily overlooked elements of design, which can help designers to grow, and allow us to reason about our work on teams in more varied and expressive ways.</p>

    <p><strong>About Brett</strong></p>
    <p>Brett is a designer and developer at Pin Payments, where he specialises in visual design. He enjoys brewing (and drinking) coffee, photography, grids of the exploded variety, and drawing rectangles in a range of fidelities.</p>
    <p>In 2016 Brett helped organise the inaugural Mixin conference, encouraging collaboration between designers and developers, alongside other local passionate web folk.</p>"
    }) %>

  <%= partial('partials/components/deployment/speaker-card', :locals => {
    :name => "Glen Maddern",
    :position => "Independent Front End Developer &amp; Consultant",
    :location => "MEL",
    :image => "/images/events/Glen.jpg",
    :title => "Styled Components and the Road to Unification",
    :long_text => "<p>It seems inevitable. As we've moved to a more component-centric UI architecture, we've moved our JS and HTML and CSS closer and closer together. Surely they'll eventually end up all in a single file, right?</p>

    <p>Not long ago, this idea was unthinkable—our units of composition were too large and divided along language boundaries. But things are changing.</p>

    <p>This is a talk about the dream of a unified development language for components, and the progress one library, Styled Components, has made towards that goal.</p>

    <p><strong>About Glen</strong></p>
    <p>Glen is an independent Front-End Engineer and Consultant, the creator of Front End Center, and the co-creator of styled-components, CSS Modules.</p>"
    }) %>

  <%= partial('partials/components/deployment/speaker-card', :locals => {
    :name => "Simon Wright",
    :position => "UX Designer &amp; enabler of coffee",
    :location => "SYD",
    :image => "/images/events/Simon.jpg",
    :title => "Caffeinated design",
    :long_text => "<p>As we get more experience we specialise and focus our skills on an ever-narrowing area and industry. I've been designing for web and digital for a long time, but lately I've become \"the coffee guy\" to long-time web friends, and \"the web guy\" to coffee people. And somehow I've ended up making all sorts of unfamiliar print things using familiar web skills.</p>

    <p>Along the way I've noticed a pattern of:</p>
    <ul>
      <li>I have no idea what I'm doing;</li>
      <li>I'm working this new thing out;</li>
      <li>Wait, my old skills are now weirdly relevant in this new area.</li>
    </ul>

    <p>This is a talk about reapplying what you know in unfamiliar worlds, and in the process discovering new ways to do things (like using millimeters in your stylesheet)</p>

    <p><strong>About Simon</strong></p>
    <p>Simon Wright is a roving UX designer who's been making things for the web since the 90s working with governments, media companies and startups. In that time he's taken on design, front-end and UX roles. But lately, he's been wearing all the hats at once with a coffee subscription business that's equal parts design, code and customer service (the coffee picking hat is worn by the coffee roaster).</p>"
    }) %>

  <%= partial('partials/components/deployment/speaker-card', :locals => {
    :name => "Anna Harrison",
    :position => "Director of UX @ <br />Ephox",
    :location => "BNE",
    :image => "/images/events/Anna.jpg",
    :title => "Decisions Considered Harmful to Product Love",
    :long_text => "<p>Software developers love flexibility. At their very core, engineers value choices and options above all else (possibly even pizza). Yet, these same choices and flexibility, when viewed through the eyes of product users, look more like unasked for homework and cognitive overload.</p>

    <p>In an era where experiences are coveted more highly than products, and product loyalties are made and broken at the touch of a download button, can we expect to deliver Product Love if we do not change the core beliefs of those who develop our software?</p>

    <p>A fun and example packed presentation explores this conflict, and presents practical ways for addressing it in your place of work. The success of your next app could hinge on what you learn in this 20-minute presentation!</p>

    <p><strong>About Anna</strong></p>
    <p>Dr Anna Harrison is an award-winning speaker, author and designer. She currently leads the UX design and innovation practice at Ephox, makers of TinyMCE. Anna’s passion for people, design and technology is fuelled by her travels and work abroad, where she has helped organisations like IBM, Oracle, NICTA, Unisys and major airports convert dreams and visions into tangible products. Anna regularly contributes to the local Australian Design + Technology scene through speaking engagements and her From Scholar to Dollar and Think Fast, Look Good and Influence series of QUT based workshops.</p>"
    }) %>
  </div>
</div>

<div class="paragraph-image">
<div class="ticket-cta">
	<%= partial "partials/components/deployment/deployment-map" %>
  <a href="https://www.eventbrite.com.au/e/localhost-deployment-tickets-33542351075" class="btn btn-primary btn-deployment-tickets" title="Get Tickets">Get Tickets</a>
</div>
</div>

<% content_for :sponsors do %>
<div class="partners">
  <p class="title">
    Made<br/>Possible By
  </p>
  <div class="logos">
    <ul>
      <li><img src="/images/logos/logo-awia-bnw-2.png" alt="AWIA Logo" /></li>
    </ul>
  </div>
</div>

<div class="sponsors">
  <p class="title">
    Our Awesome<br /> Supporters
  </p>
  <div class="logos">
    <ul>
      <li><img src="/images/logos/logo-sketch.png" alt="Sketch Logo" /></li>
      <li><img src="/images/logos/young-henrys-logo.png" alt="Young Henry's Logo" /></li>
    </ul>
  </div>
</div>
</div>
</div>
<div class="footer-details">
<div class="container-fluid community-love">
  <p class="title">
    Community,<br />We Love You
  </p>
  <div class="logos">
    <ul>
      <!--<li><img src="/images/logos/community/agda-logo.png" alt="Young Henry's Logo" /></li>-->
      <li><img src="/images/logos/community/fenders-logo.png" alt="Fenders Perth Logo" /></li>
      <li><img src="/images/logos/community/melbCSS-logo.png" alt="MelbCSS Logo" /></li>
      <li><img src="/images/logos/community/mixin-logo.png" alt="Mixin Logo" /></li>
      <li><img src="/images/logos/community/product-of-bne-logo.png" alt="Product of BNE Logo" /></li>
      <li><img src="/images/logos/community/product-of-syd-logo.png" alt="Product of SYD Logo" /></li>
      <li><img src="/images/logos/community/sydcss-logo.png" alt="SydCSS Logo" /></li>
      <li><img src="/images/logos/community/the-design-kids-logo.png" alt="TDK Logo" /></li>
    </ul>
  </div>
</div>
<% end %>
