---
title: Deployment | Localhost
body_classes: internal
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
page_title: The Localhost</br>Deployment
lead_paragraph: Introducing a multi-city - supercharged - touring meetup -  roadshow. Actually.
noSubscribe: true
noMiniColumn: true
layout: layout
---
<% content_for :header do %>
<header class="header-home">
  <div class="deployment-logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 518 49" aria-role="img">
      <title>Localhost Deployment</title>
      <desc>The text "Deployment" with coloured letter shapes.</desc>
      <g fill="none" fill-rule="evenodd"><path fill="#79B9F6" d="M490.87 45.37c-1.4 2.24-3.7 2.24-5.1 0l-18.42-29.32c-1.4-2.24-.4-4.06 2.24-4.06H506c3.2 0 4.4 2.1 2.7 4.8l-17.9 28.5z"/><path stroke="#1D1D1B" stroke-width="5" d="M482.45 27.26l8.62 15.26c.8 1.36 2.52 1.82 3.88 1.04.43-.25.8-.6 1.04-1.04l18.4-31.83c.7-1.4.2-3.1-1.1-3.9-.4-.3-.9-.4-1.4-.4l-36.7-.1c-1.58 0-2.85 1.26-2.85 2.83 0 .5.13.97.37 1.4l3.86 6.52c.5.86 1.4 1.4 2.42 1.4l6.8.06" stroke-linecap="round" stroke-linejoin="round"/><path fill="#FFF" d="M415.26 24.82h11v4h-11z"/><path fill="#000" d="M448.55 2.33h10.72v45.43H447.1l-18.93-29.6v29.17h-10.73v-45h12.4l18.7 29.23M41.94 22.5c0 3.46-.55 6.6-1.7 9.4-1.1 2.8-2.75 5.2-4.9 7.2s-4.85 3.53-8.04 4.6c-3.2 1.1-6.85 1.63-10.98 1.63H.2v-45h16.9c4 0 7.52.52 10.6 1.58 3.07 1.1 5.66 2.6 7.77 4.5 2.1 2 3.72 4.3 4.83 7 1.1 2.7 1.65 5.8 1.65 9.1zm-11.5.43c0-4.65-1.17-8.06-3.5-10.22-2.34-2.1-5.84-3.2-10.56-3.2H11.6v26.7h5.34c4.17 0 7.46-1 9.86-3.2 2.4-2.12 3.6-5.5 3.6-10zm114.45-6.98c0 5.28-1.8 9.3-5.2 12.1-3.48 2.78-8.4 4.17-14.9 4.17l-4.4.07v13H109V.3h16.64c3.17 0 5.94.38 8.32 1.15 2.37.77 4.38 1.83 6 3.2 1.64 1.37 2.87 3 3.68 4.93.82 1.93 1.23 4.05 1.23 6.35zm-11.4.3c0-4.57-2.9-6.85-8.7-6.85h-4.6v14.04l4.6-.07c2.9-.05 5.1-.68 6.6-1.88 1.4-1.2 2.1-3 2.1-5.3zm24.2 29.08v-45h11.42v35.42H188v9.58h-30.3z"/><path fill="#F27959" d="M210.35 9.32c10.6 0 19.2 8.57 19.2 19.13 0 10.56-8.6 19.12-19.2 19.12s-19.2-8.56-19.2-19.12 8.6-19.13 19.2-19.13z"/><path stroke="#1D1D1B" stroke-width="6" d="M215.15 4.52c10.6 0 19.2 8.57 19.2 19.13 0 10.56-8.6 19.12-19.2 19.12s-19.2-8.56-19.2-19.12 8.6-19.13 19.2-19.13z" stroke-linecap="round"/><path fill="#000" d="M268.4 30.26v17.07h-11.2V30.2L241.5 2.33h12.17l9.3 17.78 9-17.7h12.08L268.4 30.3zm68.06-17.64l-9.86 34h-12.24L304.5 12.7l-.3 34.62h-10.66l1.58-45h16.2l9.36 33.76 9.35-33.77h16l1.5 45h-10.87l-.22-34.7z"/><path fill="#74DE7D" d="M50.76 9.43h39v39h-39z"/><path stroke="#000" stroke-width="6" d="M56.26 7.32h34m-34 16h34m-34 16h34" stroke-linecap="square"/><path fill="#EDE600" d="M361.76 9.43h39v39h-39z"/><path stroke="#000" stroke-width="6" d="M367.26 7.32h34m-34 16h34m-34 16h34" stroke-linecap="square"/></g></svg>
      4 speakers. 4 locations. 4 days.
    </div>
  </header>
<% end %>

<div class="deployment-ticket-group">
  <%= partial('partials/components/deployment/deployment-day', :locals => {
  :date => "Tues 6<br/>June",
  :day => "Day One",
  :location => "PER",
  :link => "https://www.eventbrite.com.au/e/localhost-deployment-tickets-33542351075"
  }) %>
  <%= partial('partials/components/deployment/deployment-day', :locals => {
  :date => "Wed<br/>7 June",
  :day => "Day Two",
  :location => "MEL",
  :link => "https://www.eventbrite.com.au/e/localhost-deployment-tickets-33542351075"
  }) %>
  <%= partial('partials/components/deployment/deployment-day', :locals => {
  :date => "Thur<br/>8 June",
  :day => "Day Three",
  :location => "SYD",
  :link => "https://www.eventbrite.com.au/e/localhost-deployment-tickets-33542351075"
  }) %>
  <%= partial('partials/components/deployment/deployment-day', :locals => {
  :date => "Fri<br/>9 June",
  :day => "Day Four",
  :location => "BNE",
  :link => "https://www.eventbrite.com.au/e/localhost-deployment-tickets-33542351075"
  }) %>
</div>

<div class="dear-community">
  <div class="image">
    <img src="/images/dear-community.jpg" />
  </div>
  <div class="content">
    <h2>Dear community peeps who love all things creative, web &amp; digital,</h2>

    <p>Yep, you’ve heard correctly; we’re picking up 4 speakers from destinations across Australia and bringing them to your city on a touring meetup roadshow.</p>

    <p>We’ll bring them &amp; their awesome talk topics to you, along with some great food, drinks and friendly company; all you need to do is come along and enjoy. Whhhaatttt?</p>

    <p>It all sounds a bit awesome, doesn’t it? Yeah, we think so too. Read the back-story here or grab your tickets now (limited spots, so get in quick!).</p>
  </div>
</div>

<h3>Who’s Representin’, <br />
&amp; what are they <br />
presentin’?</h3>

<div class="deployment-line-up">
<%= partial('partials/components/deployment/speaker-card', :locals => {
  :name => "Brett Jones",
  :position => "Designer &amp; Developer @ <br />Pin Payments",
  :location => "PER",
  :image => "/images/events/KristyHaines.jpg",
  :title => "The Not–So–Glamorous Aspects of Design",
  :long_text => "<p>In \“The Not–So–Glamorous Aspects of Design\”, I will explore some of the insights from my time as a designer and what I’ve learned, specifically around self–learning in user interface and visual design.</p>

  <p>Self-learning is more important in our industry now than ever, but actually knowing what to learn is difficult. There are the known unknowns — perhaps I know that I don’t know how to use Sketch. But what’s more important is the unknown unknowns — facets of design which Behance, Dribbble or Google don’t necessarily surface — unless you know *exactly what* to search for.</p>
  <p>The surface–level aesthetic layer of design is the easiest layer for everyone to appreciate and comment on, though having a level of familiarity with adjacent skills and techniques will help them on teams, and enable them to reason about their work in more varied and expressive ways.</p>
  <p><strong>About Brett</strong></p>
  <p>Brett is a designer and developer at Pin Payments, where he specialises in visual design. He enjoys brewing (and drinking) coffee, photography, grids of the exploded variety, and drawing rectangles in a range of fidelities.</p>
  <p>In 2016 Brett helped organise the inaugural Mixin conference, encouraging collaboration between designers and developers, alongside other local passionate web folk.</p>"
  }) %>

<%= partial('partials/components/deployment/speaker-card', :locals => {
  :name => "Glen Maddern",
  :position => "Independent Front End Developer &amp; Consultant",
  :location => "MEL",
  :image => "/images/events/KristyHaines.jpg",
  :title => "Styled Components and the Road to Unification",
  :long_text => "<p>It seems inevitable. As we've moved to a more component-centric UI architecture, we've moved our JS and HTML and CSS closer and closer together. Surely they'll eventually end up all in a single file, right?</p>

  <p>Not long ago, this idea was unthinkable—our units of composition were too large and divided along language boundaries. But things are changing.</p>

  <p>This is a talk about the dream of a unified development language for components, and the progress one library, Styled Components, has made towards that goal.</p>

  <p><strong>About Glen</strong></p>
  <p>Glen is an independent Front-End Engineer and Consultant, the creator of Front End Center, and the co-creator of styled-components, CSS Modules.</p>"
  }) %>

<%= partial('partials/components/deployment/speaker-card', :locals => {
  :name => "Simon Wright",
  :position => "UX Designer &amp; coffee enabler",
  :location => "SYD",
  :image => "/images/events/KristyHaines.jpg",
  :title => "Caffeinated design",
  :long_text => "<p>I’ve spent the last couple of years designing and building things about/with/for coffee and the web.</p>
  <p>In the process, lots of learning new things, with an interesting pattern of:</p>
  <p>
  – I have no idea what I’m doing; <br />
  – I’m working this new thing out; <br />
  – Wait, my old skills are suddenly uber-relevant in this new thing!</p>
  <p>For example:</p>
  <p>
  – a web designer making print things (labels, cards) in Indesign;<br />
  – maybe I can make print things using web technologies?;<br />
  – the wonderful moment I got nerdy and made print things using web tech, then making them smarter (because: web!)</p>

  <p><strong>About Simon</strong></p>
  <p>Simon Wright is a roving UX designer who's been making things for the web since the 90s working with governments, media companies and startups. In that time he's taken on design, front-end and UX roles. But lately, he's been wearing all the hats at once with a coffee subscription business that's equal parts design, code and customer service (the coffee picking hat is worn by the coffee roaster).</p>"
  }) %>

<%= partial('partials/components/deployment/speaker-card', :locals => {
  :name => "Anna Harrison",
  :position => "Director of UX @ <br />Ephox",
  :location => "BNE",
  :image => "/images/events/KristyHaines.jpg",
  :title => "Decisions Considered Harmful to Product Love",
  :long_text => "<p>Software developers love flexibility. At their very core, engineers value choices and options above all else (possibly even pizza). Yet, these same choices and flexibility, when viewed through the eyes of product users, look more like unasked for homework and cognitive overload.</p>

  <p>In an era where experiences are coveted more highly than products, and product loyalties are made and broken at the touch of a download button, can we expect to deliver Product Love if we do not change the core beliefs of those who develop our software?</p>

  <p>A fun and example packed presentation explores this conflict, and presents practical ways for addressing it in your place of work. The success of your next app could hinge on what you learn in this 20-minute presentation!</p>

  <p><strong>About Anna</strong></p>
  <p>Dr Anna Harrison is an award-winning speaker, author and designer. She currently leads the UX design and innovation practice at Ephox, makers of TinyMCE. Anna’s passion for people, design and technology is fuelled by her travels and work abroad, where she has helped organisations like IBM, Oracle, NICTA, Unisys and major airports convert dreams and visions into tangible products. Anna regularly contributes to the local Australian Design + Technology scene through speaking engagements and her From Scholar to Dollar and Think Fast, Look Good and Influence series of QUT based workshops.</p>"
  }) %>
</div>

<div class="paragraph-image">
<div class="ticket-cta">
	<%= partial "partials/components/deployment/deployment-map" %>
  <a href="https://www.eventbrite.com.au/e/localhost-deployment-tickets-33542351075" class="btn btn-primary" title="Get Tickets">Get Tickets</a>
</div>
</div>

<% content_for :sponsors do %>
<div class="partners">
  <p class="title">
    Deployment<br/>Event Sponsors
  </p>
  <div class="logos">
    <ul>
      <li><img src="/images/logos/logo-awia-bnw-2.png" alt="AWIA Logo" /></li>
    </ul>
  </div>
</div>
<div class="sponsors">
  <p class="title">
    Our Community<br /> Sponsors
  </p>
  <div class="logos">
    <ul>
      <li><img src="/images/logos/young-henrys-logo.png" alt="Young Henry's Logo" /></li>
      <li><img src="/images/logos/logo-sketch.png" alt="Sketch Logo" /></li>
    </ul>
  </div>
</div>
</div>
<% end %>
