<!doctype html>
<html class="no-js">
  <head>
    <%= partial "partials/head/head" %>
    <% if build? %>
      <%= partial "partials/tracking/tracking-head" %>
    <% end %>
  </head>

  <body class=" <%= page_classes %> <%= current_page.data.body_classes %>">
    <% if build? %>
      <%= partial "partials/tracking/tracking-body" %>
    <% end %>
  <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
    <%= partial "partials/header/header" %>

    <%= partial "partials/components/content/page-title" %>

    <main class="main about">
    <%= yield %>

   </main><!-- .welcome -->


    <%= partial "partials/footer/footer" %>
    <%= partial "partials/footer/scripts" %>
  </body>
</html>
