<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title><%= current_page.data.title || "Middleman" %></title>
    <meta content="<%= current_page.data.meta_description %>" name="description"/>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#74de7d">
    <meta name="theme-color" content="#ffffff">

    <script src="https://use.typekit.net/wze4wrh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <%= stylesheet_link_tag :site %>
    <% ogp_tags do|name, value| %>
    <meta content="<%= value %>" property="<%= name %>"/>
    <% end %>
  </head>

  <body class="<%= page_classes %> <%= current_page.data.body_classes %> blog-post">
    <%= partial "partials/header-internal" %>

    <div class="main">
      <p class="h1"><a href="/blog"><span>Blog</span></a></p>

      <article>
        <div class="article-header">
          <h1>
            <%= current_page.data.title %>
            <span class="author">by <%= current_page.data.author %></span>
          </h1>

          <% if current_page.data.image && !current_page.data.hideFeatureImage  %>
            <div class="image">
              <img src="<%= current_page.data.image %>" alt="<%= current_page.data.imageAlt %>" />
            </div>
          <% end %>

          <time><%= current_page.data.date.strftime('%d.%m.%Y') %></time>

          <% if current_page.data.leadParagraph? %>
            <p class="lead-paragraph"><%= current_page.data.leadParagraph %></p>
          <% end %>
        </div>
        <div class="article-body">
          <%= yield %>
        </div>
      </article>
    </div><!-- .main -->

    <div class="blog-additional">
      <% if current_page.data.videoURL %>
        <div class="additional-video">
          <a href="<%= current_page.data.videoURL %>" target="_blank">
            <div class="additional-border">
              <img src="<%= current_page.data.videoImage %>" alt="videoImageAlt" />
            </div>
          </a>

          <% if current_page.data.videoCaption %>
            <p class="caption"><%= current_page.data.videoCaption %></p>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.additionalImage %>
        <div class="additional-image">
          <div class="additional-border"><img src="<%= current_page.data.additionalImage %>" alt="<%= current_page.data.additionalImageAlt %>" /></div>
          <% if current_page.data.imageCaption %>
            <p class="caption"><%= current_page.data.imageCaption %></p>
          <% end %>
        </div>
      <% end %>

      <% if current_page.data.additionalImageFull %>
        <div class="additional-image additional-image-full">
          <div class="additional-border"><img src="<%= current_page.data.additionalImageFull %>" /></div>
          <% if current_page.data.imageFullCaption %>
            <p class="caption"><%= current_page.data.imageFullCaption %></p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="pagination">
        <ul>
          <li>
             <% prev_article = current_article.previous_article %>
               <% if prev_article %>
               <a href="<%= prev_article.url %>" rel="prev" title="Previous article: <%= prev_article.title %>"> Previous <br /> <%= prev_article.title %> </a>
               <% end %>
           </li>
           <li>
             <% next_article = current_article.next_article %>
               <% if next_article %>
               <a href="<%= next_article.url %>" rel="next" title="Next article: <%= next_article.title %>"> Next <br /> <%= next_article.title %> </a>
               <% end %>
           </li>
        </ul>
    </div>

    <%= partial "partials/subscription-form" %>
    <%= partial "partials/footer" %>

    <% if build? %>
      <%= partial "partials/tracking" %>
    <% end %>

    <%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js') %>
    <%= javascript_include_tag('https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/TweenMax-latest-beta.js') %>
    <%= javascript_include_tag('site.js') %>
  </body>
</html>
