<!doctype html>
<html class="no-js">
  <head>
    <%= partial "partials/head/head" %>
  </head>

  <body class="<%= page_classes %> <%= current_page.data.body_classes %> blog-post">
  <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
  <%= partial "partials/header/header" %>

    <div class="main">
      <p class="h1"><a href="/blog"><span>Blog</span></a></p>

      <article>
        <div class="article-header">
          <h1>
            <%= current_page.data.title %>
            <span class="author">by <%= current_page.data.author %></span>
          </h1>

          <% if current_page.data.image && !current_page.data.hideFeatureImage  %>
            <div class="image">
              <img src="<%= current_page.data.image %>" alt="<%= current_page.data.imageAlt %>" />
            </div>
          <% end %>

          <time><%= current_page.data.date.strftime('%d.%m.%Y') %></time>

          <% if current_page.data.leadParagraph? %>
            <p class="lead-paragraph"><%= current_page.data.leadParagraph %></p>
          <% end %>
        </div>
        <div class="article-body">
          <%= yield %>
        </div>
      </article>
    </div><!-- .main -->

    <div class="blog-additional">
      <% if current_page.data.videoURL %>
        <div class="additional-video">
          <a href="<%= current_page.data.videoURL %>" target="_blank">
            <div class="additional-border">
              <img src="<%= current_page.data.videoImage %>" alt="videoImageAlt" />
            </div>
          </a>

          <% if current_page.data.videoCaption %>
            <p class="caption"><%= current_page.data.videoCaption %></p>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.additionalImage %>
        <div class="additional-image">
          <div class="additional-border"><img src="<%= current_page.data.additionalImage %>" alt="<%= current_page.data.additionalImageAlt %>" /></div>
          <% if current_page.data.imageCaption %>
            <p class="caption"><%= current_page.data.imageCaption %></p>
          <% end %>
        </div>
      <% end %>

      <% if current_page.data.additionalImageFull %>
        <div class="additional-image additional-image-full">
          <div class="additional-border"><img src="<%= current_page.data.additionalImageFull %>" /></div>
          <% if current_page.data.imageFullCaption %>
            <p class="caption"><%= current_page.data.imageFullCaption %></p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="pagination">
        <ul>
          <li>
             <% prev_article = current_article.previous_article %>
               <% if prev_article %>
               <a href="<%= prev_article.url %>" rel="prev" title="Previous article: <%= prev_article.title %>"> Previous <br /> <%= prev_article.title %> </a>
               <% end %>
           </li>
           <li>
             <% next_article = current_article.next_article %>
               <% if next_article %>
               <a href="<%= next_article.url %>" rel="next" title="Next article: <%= next_article.title %>"> Next <br /> <%= next_article.title %> </a>
               <% end %>
           </li>
        </ul>
    </div>

		 <section class="subscribe">
			 <div class="container">
				 <%= partial "partials/subscription-form" %>
			 </div><!--container -->
		 </section><!-- subscribe section -->

     <% if build? %>
       <%= partial "partials/footer/tracking" %>
     <% end %>
    <%= partial "partials/footer/footer" %>
    <%= partial "partials/footer/scripts" %>
  </body>
</html>
