<!doctype html>
<html>
  <head>
    <%= partial "partials/head/head" %>
  </head>

  <body class="<%= page_classes %> <%= current_page.data.body_classes %>">
      <%= yield %>
      <%= javascript_include_tag :all %>

    <%= partial "partials/footer/scripts" %>
  </body>
</html>
