<!doctype html>
<html>
  <head>
    <%= partial "partials/head/head" %>
    <% if build? %>
      <%= partial "partials/tracking/tracking-head" %>
    <% end %>
  </head>

  <body class="<%= page_classes %> <%= current_page.data.body_classes %>">
  <% if build? %>
    <%= partial "partials/tracking/tracking-body" %>
  <% end %>
      <%= yield %>
      <%= javascript_include_tag :all %>

    <%= partial "partials/footer/scripts" %>
  </body>
</html>
