<!doctype html>
<html class="no-js">
  <head>
    <%= partial "partials/head/head" %>
  </head>

  <body class="<%= page_classes %> <%= current_page.data.body_classes %>">
  <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
    <%= partial "partials/header/header" %>
    <header class="header-home">
      <div class="logo">
        <% link_to '/' do %>
          <%= partial "partials/logo-2" %>
        <% end %>
      </div>
    </header>
    <div class="main">
      <%= yield %>

   </div><!-- .welcome -->

     <% if build? %>
       <%= partial "partials/footer/tracking" %>
     <% end %>
    <%= partial "partials/footer/footer" %>
    <%= partial "partials/footer/scripts" %>
    <%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js') %>
    <%= javascript_include_tag('home.js') %>
  </body>
</html>
