<!doctype html>
<html class="no-js">
  <head>
    <%= partial "partials/head/head" %>
    <% if build? %>
      <%= partial "partials/footer/tracking-head" %>
    <% end %>
  </head>

  <body class="<%= page_classes %> <%= current_page.data.body_classes %>">
  <% if build? %>
    <%= partial "partials/footer/tracking-body" %>
  <% end %>
  <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
</script>
    <%= partial "partials/header/header" %>
    <%= yield_content :header %>
    <div class="main">
      <% if current_page.data.page_title %>
          <h1 class="title"><%= current_page.data.page_title %></h1>
      <% end %>

      <% if current_page.data.lead_paragraph %>
          <p class="subtitle"><%= current_page.data.lead_paragraph %></p>
      <% end %>

      <% if !current_page.data.noMiniColumn %>
        <div class="column-content">
      <% end %>
        <%= yield %>
      <% if !current_page.data.noMiniColumn %>
        </div>
      <% end %>

      <% if current_page.data.has_team %>
        <%= partial "partials/your-team" %>
      <% end %>

   </div><!-- .welcome -->
   <% if !current_page.data.noSubscribe %>
    <section class="subscribe">
      <div class="container">
        <%= partial "partials/subscription-form" %>
      </div><!--container -->
    </section><!-- subscribe section -->
    <% end %>

    <%= partial "partials/footer/footer" %>
    <%= partial "partials/footer/scripts" %>
    <%= yield_content :additional_scripts %>
  </body>
</html>
