<nav class="primary-nav">
  <ul>
    <li class="home"><%= current_link_to "<span>Home</span>", "/" %></li>
    <li class="hide"><%= current_link_to "About", "/about/" %></li>
    <li><%= current_link_to "Calendar", "/calendar/" %></li>
    <li class="deployment-shapes"><%= current_link_to "Deployment", "/projects/deployment/info/" %></li>
    <li class="hide"><%= current_link_to "Blog", "/blog/" %></li>
  </ul>

  <a href="#navbar-toggle" class="navbar-toggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="sr-only">Toggle Navigation Menu</span>
  </a>

  <div id="navbar-toggle" style="display:none;">
    <%= partial "partials/nav" %>

    <%= partial "partials/social-links" %>
  </div>
</nav>
