<div class="deployment-tickets">
  <p>
    <span class="deployment-date"><%= date ||= "" %></span>
    <span class="deployment-day"><%= day ||= "" %></span>
  </p>
  <div class="deployment-location deployment-location-<%= location %>"></div>
  <% if locals[:link] %><a class="btn btn-deployment-tickets btn-<%= location %>" href="<%= link %>" target="_blank"><% end %>
    <%= button_text ||= "Get Tickets" %>
    <% if locals[:link] %></a><% end %>
    <!-- <p><%= location ||= "" %></p> -->
</div>
