<div class="flex-row deployment-event-details">
  <div class="flex-col deets-col">
    <% if locals[:deploymentCityDetailsTitle] %>
    <h2 class="deployment-city-details-title"><%= deploymentCityDetailsTitle %></h2>
    <% end %>

    <% if locals[:deploymentCityDetailsHashtag] %>
    <p class="deployment-city-details-hashtag"><%= deploymentCityDetailsHashtag %></p>
    <% end %>
    <% if locals[:deploymentCityTicketsLink] %>
      <a class="btn btn-deployment-tickets btn-<%= deploymentCityCode %> scrollTo" href="https://www.eventbrite.com.au/e/localhost-deployment-tickets-33542351075" target="_blank">
        Buy tickets
      </a>
    <% end %>
  </div>

  <% if locals[:deploymentCityDetailsMap] %>
    <div class="flex-col map-embed">
      <div class="embed-container">
        <iframe src="<%= deploymentCityDetailsMap %>" frameborder="0" style="border:0;" allowfullscreen></iframe>
      </div>
    </div>
  <% end %>

  <div class="flex-col">
    <h4>Location</h4>
    <% if locals[:deploymentCityDetailsLocation] %>
    <p class="deployment-city-details-venue">
      <%= deploymentCityDetailsLocation %>
    </p>
    <% end %>

    <% if locals[:deploymentCityDetailsAddress] %>
    <address>
      <a href="<%= deploymentCityAddressURL %>" title="Find <%= deploymentCityDetailsLocation %> on Google Maps" target="_blank">
        <%= deploymentCityDetailsAddress %>
      </a>
    </address>
    <% end %>
  </div>
</div>

<h3>Venue</h3>

<div class="flex-row venue-row">

  <!-- <% if locals[:deploymentCityDetailsVenuePhotos] %>
    <div class="flex-col venue-images">
      <% locals[:deploymentCityDetailsVenuePhotos].each do |venuePhoto| %>
			<div class="venue-image">
	      <img src="<%= venuePhoto.image %>" />
        <p class="caption"><%= venuePhoto.caption %></p>
			</div>
      <% end %>
    </div>
  <% end %> -->

  <% if locals[:deploymentCityDetailsVenuePhoto1] %>
    <div class="flex-col venue-images">
      <% if locals[:deploymentCityDetailsVenuePhoto1] %>
      <div class="venue-image">
        <div class="venue-image-container">
          <img src="<%= deploymentCityDetailsVenuePhoto1 %>" />
        </div>
        <% if locals[:deploymentCityDetailsVenuePhoto1Caption] %>
          <p class="caption"><%= deploymentCityDetailsVenuePhoto1Caption %></p>
        <% end %>
      </div>
      <% end %>
      <% if locals[:deploymentCityDetailsVenuePhoto2] %>
      <div class="venue-image">
        <div class="venue-image-container">
          <img src="<%= deploymentCityDetailsVenuePhoto2 %>" />
        </div>
        <% if locals[:deploymentCityDetailsVenuePhoto2Caption] %>
          <p class="caption"><%= deploymentCityDetailsVenuePhoto2Caption %></p>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>

  <% if locals[:deploymentCityDetailsVenueTips] %>
    <div class="flex-col venue-tips-col">
      <ul>
        <% locals[:deploymentCityDetailsVenueTips].each do |venueTip| %>
        <li><%= venueTip %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="flex-row food-sponsors-row">
  <% if locals[:deploymentCityDetailsCatering] %>
    <div class="flex-col food-col">
      <h3>Food &amp; Drinks</h3>
      <%= deploymentCityDetailsCatering %>
    </div>
  <% end %>

  <% if locals[:deploymentCityDetailsEventSponsors] %>
    <div class="flex-col sponsor-col">
      <h3><%= deploymentCity %> Event <br/>Made Possible By</h3>
      <div class="sponsor-images">
        <% locals[:deploymentCityDetailsEventSponsors].each do |eventSponsors| %>
        <div class="sponsor-image">
          <img src="<%= eventSponsors %>" />
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
