<% if locals[:image] %>
<img src="<%= image %>" />
<% end %>
<p><%= name ||= "" %></p>
<p><%= position ||= "" %></p>
<p><%= twiter ||= "" %></p>
<p><%= link ||= "" %></p>
<p><%= title ||= "" %></p>
<%= long_text ||= "" %>
<%= location ||= "" %>
