<div class="deployment-speaker" id="<%= id %>">
      <% if locals[:image] %>
      <img src="<%= image %>" />
      <% end %>
      <div class="speaker-details">
        <p class="speaker-name"><%= name ||= "" %></p>
        <p><%= position ||= "" %></p>
        <p><%= twitter ||= "" %></p>
        <p><%= link ||= "" %></p>
      </div>
      <div class="talk-details">
        <h4><%= title ||= "" %></h4>
        <%= long_text ||= "" %>
      </div>
</div>
