---
title: Team | Localhost
body_classes: internal
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
page_title: Team <br />Localhost
layout: about
---
<div class="paragraph-full your-team">
	<div class="team-au">
		<div>
			<%= tag :img, :src => "/images/team/au/team-patima.jpg" %>
      <div class="team-caption">
  			<h3>Patima Tantiprasut</h3>
  			<p class="team-handle"><%= link_to '@the_patima', 'https://twitter.com/the_patima', :alt => 'Follow Patima on Twitter' %></p>
  			<div class="team-desc">
          <p><strong>THE GENERAL</strong>
          By day, Patima co-runs Bam Creative, a Perth-based digital agency. In her spare time she’s also a director of @team6Q, co-organiser for @MixinConf, founder and host of @LocalhostAU, an Australian Web Industry Association (AWIA) committee member, a newbie speaker, writer, not-so-newbie gin drinker and dog lover.</p>
          <p>Patima’s jam is to bring people together to achieve beautiful and meaningful things. Patima has a background in both design and code, and seriously loves to continuously learn and be challenged. Localhost is her passion project and hopes that it'll strengthen the industry and bring communities together. </p>
  		   </div>
  		</div>
		</div>
		<div>
			<%= tag :img, :src => "/images/team/au/team-dt.jpg" %>
      <div class="team-caption">
  			<h3>David Thomas</h3>
  			<p class="team-handle">
          <%= link_to '@thedavidthomas1', 'https://twitter.com/thedavidthomas1', :alt => 'Follow DT on Twitter' %>
        </p>
  			<div class="team-desc">
          <p><strong>THE FORTIFIER</strong>
            DT is a developer. Currently at Bam Creative building websites and apps. DT is always up for  a challenge and is thrilled to be part of the @LocalhostAU team.</p>
            <p>David has a keen interest in gadgets, the internet and all things digital, When he isn’t looking at a screen he’s probably looking at screen.</p>
        </div>
  		</div>
		</div>
		<div>
			<%= tag :img, :src => "/images/team/au/team-corey.jpg" %>
      <div class="team-caption">
  			<h3>Corey Ginnivan</h3>
  			<p class="team-handle">
          <%= link_to '@coreyginnivan', 'https://twitter.com/coreyginnivan', :alt => 'Follow Corey on Twitter' %>
        </p>
  			<div class="team-desc"><strong>THE CAVALRY</strong>
          <p>Corey is a digital product designer and developer. Since 2015, Corey has been the Lead Product Designer at Appbot, a mobile app review sentiment and analysis tool used by some of the most exciting companies in the world, including Disney, Pinterest and Twitter.</p>
          <p>Corey is obsessed with side projects, which even lead him to develop a side project manager… He's worn a collard shirt once (it was white) and he's played inline hockey for Australia.</p>
        </div>
  		</div>
		</div>
		<div>
			<%= tag :img, :src => "/images/team/au/team-teegan.jpg" %>
      <div class="team-caption">
  			<h3>Teegan Lincoln</h3>
  			<p class="team-handle">
          <%= link_to '@teeganlincoln', 'https://twitter.com/teeganlincoln', :alt => 'Follow Teegan on Twitter' %>
        </p>
  			<div class="team-desc">
          <p><strong>THE SNIPER</strong>
            Teegan is an internet enthusiast and front-end developer based in Perth, WA. After work and on her days off, you can find her jamming with her acoustic cover band, practicing spins at the ice rink, or napping.
          </p>

        </div>
  		</div>
		</div>
	</div>
</div>

<div class="team">
	<div class="team-bne">
		<h3>Meet Team BNE</h3>
		<ul>
			<li>Steven Cooper</li>
			<li>Anthony Duffy</li>
			<li>Emma Howchin</li>
			<li>Glen Arrowsmith</li>
		</ul>
	</div>
	<div class="vollies">
		<h3>Meet our volunteers</h3>
		<ul>
			<li>Monique Tilt</li>
			<li>Simeon Johnson</li>
			<li>Phuong Huynh</li>
			<li>Grant MacDonald</li>
			<li>Sam Cross</li>
		</ul>
	</div>
</div>
