---
title: Events | Localhost
body_classes:
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
noMiniColumn: true
published: false
---

<h1>
  <span class="title-left">Aussie <br />Events</span>
  <span class="title-right">Localhost Calendar</span>
</h1>

<section class="events-calendar">
  <div class="event-column">
    <%= partial('events/components/card', :locals => {
      :date => "Thurs 19 Feb",
      :name => "Georgie Luhur",
      :description => "Front End Dev @ Campaign Monitor",
      :title => "Creative ways of styling figures and fig captions",
      :image => "/images/events/GeorgieLuhur.png",
      :location => "PER",
      :link => "https://www.meetup.com/Localhost-PER/events/238054611/",
      :price => "Free event",
      }) %>
  </div>

  <div class="event-column">
    <%= partial('events/components/card', :locals => {
      :date => "More Upcoming",
      :name => "Web and Wellness",
      :description => "Every Wednesday.",
      :link => "https://www.meetup.com/Localhost-PER/events/238054611/",
      :price => "Free event",
      :button_text => "More Info"
      }) %>

    <%= partial('events/components/card', :locals => {
      :name => "title",
      :date => "Thurs 23 Feb",
      :link => "https://www.meetup.com/",
      :description => "Occasional dinners for 10 people.",
      :price => "$35"
      }) %>
  </div>

  <div class="event-column">
    <%= partial('events/components/card', :locals => {
      :date => "Thurs 19 Feb",
      :name => "Georgie Luhur",
      :description => "Front End Dev @ Campaign Monitor",
      :title => "Creative ways of styling figures and fig captions",
      :image => "/images/events/KristyHaines.png",
      :location => "PER",
      :link => "https://www.meetup.com/Localhost-PER/events/238054611/",
      :price => "Free event",
      }) %>
  </div>
</section>

<section class="calendar-future-events">
  <aside>
    <h2>
      Future <br/>
      Events
    </h2>

    <nav>
      <ul>
        <li><a href="#january" class="month-january">January</a></li>
        <li><a href="#february" class="month-february">February</a></li>
        <li><a href="#march" class="month-march">March</a></li>
        <li><a href="#april" class="month-april">April</a></li>
        <li><a href="#may" class="month-may">May</a></li>
        <li><a href="#june" class="month-june">June</a></li>
        <li><a href="#july" class="month-july">July</a></li>
        <li><a href="#august" class="month-august">August</a></li>
        <li><a href="#september" class="month-september">September</a></li>
        <li><a href="#october" class="month-october">October</a></li>
        <li><a href="#november" class="month-november">November</a></li>
        <li><a href="#december" class="month-december">December</a></li>
      </ul>
    </nav>
  </aside>

  <main>
    <div class="calendar-toggles">
      <p class="filter-by">Filter by</p>
      <label><input type="checkbox" class="city-perth" checked /> <span>Perth</span></label>
      <label><input type="checkbox" class="city-sydney" checked /> <span>Sydney</span></label>
      <label><input type="checkbox" class="city-melbourne" checked /> <span>Melbourne</span></label>
      <label><input type="checkbox" class="city-brisbane" checked /> <span>Brisbane</span></label>
      <label><input type="checkbox" class="city-other" checked /> <span>Other</span></label>
    </div>
    <div class="calendar toggle-per toggle-mel toggle-bne toggle-syd toggle-other">
      <div>
        <h2 id="january">January</h2>

        <ul>
          <li class="mel-event">
            <a href="https://www.meetup.com/en-AU/Big-Data-Next-Gen-Hadoop-Ingest-Transform-Melbourne/events/237058528/" target="_blank">
              <span class="calendar-event-date">Mon 30</span>
              <span class="calendar-event-details">
                <span>Big Data (Next Gen Hadoop) Ingest and Transform</span>
                <span>Meetup</span>
                <span>MEL</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="syd-event">
            <a href="https://www.meetup.com/PivotalSydney-Tech-Talks/events/235721025/" target="_blank">
              <span class="calendar-event-date">Tues 31</span>
              <span class="calendar-event-details">
                <span>Tech Talks @ Pivotal Labs</span>
                <span>Meetup</span>
                <span>SYD</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 id="february">February</h2>

        <ul>
          <li class="syd-event">
            <a href="https://www.meetup.com/SydCSS/events/236934679/" target="_blank">
              <span class="calendar-event-date">Thu 02</span>
              <span class="calendar-event-details">
                <span>SydCSS February	</span>
                <span>Meetup</span>
                <span>SYD</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
					<li class="per-event">
            <a href="https://www.eventbrite.com.au/e/yow-night-2017-perth-kris-howard-feb-07-tickets-31409838673" target="_blank">
              <span class="calendar-event-date">Tues 07</span>
              <span class="calendar-event-details">
                <span>YOW! Night with Kris Howard - Knit One, Compute One</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="per-event">
            <a href="https://www.meetup.com/Front-End-Web-Developers-Perth/events/236694848/" target="_blank">
              <span class="calendar-event-date">Wed 08</span>
              <span class="calendar-event-details">
                <span>Fenders Casual Catch Up</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="per-event">
            <a href="https://www.eventbrite.com.au/e/perth-web-accessibility-camp-tickets-28478485918" target="_blank">
              <span class="calendar-event-date">Wed 08</span>
              <span class="calendar-event-details">
                <span>Perth Web Accessibility Camp</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="mel-event">
            <a href="http://rubyconf.org.au/2017" target="_blank">
              <span class="calendar-event-date">Thu 09 - Fri 10</span>
              <span class="calendar-event-details">
                <span>RubyConf Australia 2017</span>
                <span>Conf</span>
                <span>MEL</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="other-event">
            <a href="http://www.webstock.org.nz/17/" target="_blank">
              <span class="calendar-event-date">Mon 13 - Fri 17</span>
              <span class="calendar-event-details">
                <span>Webstock</span>
                <span>Conf</span>
                <span>NZ</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="per-event">
            <a href="https://www.meetup.com/Front-End-Web-Developers-Perth/events/236790263/" target="_blank">
              <span class="calendar-event-date">Wed 15</span>
              <span class="calendar-event-details">
                <span>Bikeshedding Quiz Night</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="other-event">
            <a href="https://reasons.to/" target="_blank">
              <span class="calendar-event-date">Sat 17</span>
              <span class="calendar-event-details">
                <span>Reasons to be creative</span>
                <span>Conf</span>
                <span>LON</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="per-event">
            <a href="https://www.meetup.com/Front-End-Web-Developers-Perth/events/236986803/" target="_blank">
              <span class="calendar-event-date">Tues 21</span>
              <span class="calendar-event-details">
                <span>Fenders - Writing Better Tests for Your JavaScript App</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="per-event">
            <a href="https://www.meetup.com/web-industry-meetup/events/237728356/" target="_blank">
              <span class="calendar-event-date">Wed 22</span>
              <span class="calendar-event-details">
                <span>Localhost - Web and Wellness Session (FREE)</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="per-event">
            <a href="https://www.meetup.com/DevOps-Perth/events/237354011/" target="_blank">
              <span class="calendar-event-date">Wed 22</span>
              <span class="calendar-event-details">
                <span>DevOps Perth - AWS re:Invent 2016 Summary</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="per-event">
            <a href="https://www.meetup.com/web-industry-meetup/events/237361443/" target="_blank">
              <span class="calendar-event-date">Thu 23</span>
              <span class="calendar-event-details">
                <span>Localhost - Discussion Dinners (SOLD OUT)</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="mel-event">
            <a href="http://www.playgroundscon.com/" target="_blank">
              <span class="calendar-event-date">Thu 23</span>
              <span class="calendar-event-details">
                <span>Playgrounds Swift and Apple Developers Conference</span>
                <span>Conf</span>
                <span>MEL</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="mel-event">
            <a href="https://www.meetup.com/BuzzConf/events/237542813/" target="_blank">
              <span class="calendar-event-date">Thu 23</span>
              <span class="calendar-event-details">
                <span>BuzzConf Futurism and Technology: Fireside Chat, Comic Interludes, &amp; Fashion Crimes</span>
                <span>Conf</span>
                <span>MEL</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>

          <li class="bne-event">
            <a href="https://dribbble.com/meetups/748" target="_blank">
              <span class="calendar-event-date">Fri 24</span>
              <span class="calendar-event-details">
                <span>Brisbane Dribbble Meetup</span>
                <span>Meetup</span>
                <span>BNE</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 id="march">March</h2>
        <ul>
          <li class="per-event">
            <a href="https://www.meetup.com/web-industry-meetup/events/237777212/" target="_blank">
              <span class="calendar-event-date">Wed 01</span>
              <span class="calendar-event-details">
                <span>Localhost - Web and Wellness Wednesdays (FREE)</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="per-event">
            <a href="https://www.meetup.com/web-industry-meetup/events/236983451/" target="_blank">
              <span class="calendar-event-date">Wed 01</span>
              <span class="calendar-event-details">
                <span>Localhost March - Kristy Haines from Meerkats</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="mel-event">
            <a href="https://www.meetup.com/MelbCSS/events/237723002/" target="_blank">
              <span class="calendar-event-date">Wed 01</span>
              <span class="calendar-event-details">
                <span>MelbCSS - Teaching CSS to talk like a designer</span>
                <span>Meetup</span>
                <span>MEL</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="per-event">
            <a href="https://www.meetup.com/Front-End-Web-Developers-Perth/events/237821376/" target="_blank">
              <span class="calendar-event-date">Sat 04</span>
              <span class="calendar-event-details">
                <span>Fenders - Presentation Brainstorming and Planning</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="per-event">
            <a href="https://www.meetup.com/drupalwa/events/238102446/" target="_blank">
              <span class="calendar-event-date">Tue 07</span>
              <span class="calendar-event-details">
                <span>Drupal WA - Hibernation is over!</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="per-event">
            <a href="https://www.meetup.com/web-industry-meetup/events/237777208/" target="_blank">
              <span class="calendar-event-date">Wed 08</span>
              <span class="calendar-event-details">
                <span>Localhost - Web and Wellness Wednesdays (FREE)</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="per-event">
            <a href="https://www.meetup.com/Front-End-Web-Developers-Perth/events/236988061/" target="_blank">
              <span class="calendar-event-date">Wed 08</span>
              <span class="calendar-event-details">
                <span>Fenders - Casual Catch Up</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="syd-event">
            <a href="https://www.meetup.com/Sydney-Design-Thinking-Meetup/events/237885833/" target="_blank">
              <span class="calendar-event-date">Thu 09</span>
              <span class="calendar-event-details">
                <span>Design Thinking Meetup</span>
                <span>Meetup</span>
                <span>SYD</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="per-event">
            <a href="http://engage.gettyimages.com/roadshow2017-perth?esource=EML_IS_BAT_INF_CON_MN_PERTHroadshowinvite.ANZ_E1V5_non_none_00000_enGB_SEG" target="_blank">
              <span class="calendar-event-date">Thu 09</span>
              <span class="calendar-event-details">
                <span>Getty Images Roadshow Happy Hour</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="per-event">
            <a href="http://www.agda.com.au/events-awards/events/wa/march/ian-anderson-the-a-z-of-tdr%E2%84%A2-perth/" target="_blank">
              <span class="calendar-event-date">Thu 09</span>
              <span class="calendar-event-details">
                <span>AGDA WA - The A-Z of TDR (The Design Republic): Ian Anderson</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="per-event">
            <a href="https://www.meetup.com/Front-End-Web-Developers-Perth/events/237156438/" target="_blank">
              <span class="calendar-event-date">Fri 10</span>
              <span class="calendar-event-details">
                <span>Fenders - Webpack your bags - Camping Trip</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="syd-event">
            <a href="http://www.sydjs.com/" target="_blank">
              <span class="calendar-event-date">Wed 15</span>
              <span class="calendar-event-details">
                <span>SydJS - Learn from the legends</span>
                <span>Meetup</span>
                <span>SYD</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="per-event">
            <a href="http://www.witwa.org.au/events/2017/2/25/witwa-techxchange-social-media-know-how" target="_blank">
              <span class="calendar-event-date">Wed 15</span>
              <span class="calendar-event-details">
                <span>WiTWA TECHXchange: Social Media Know-How</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="syd-event">
            <a href="https://www.meetup.com/CXers-Meetup/events/238048936/" target="_blank">
              <span class="calendar-event-date">Wed 22</span>
              <span class="calendar-event-details">
                <span>CXers - Optimising UX Strategy &amp; Providing a Human touch to CX</span>
                <span>Meetup</span>
                <span>SYD</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="per-event">
            <a href="https://www.meetup.com/web-industry-meetup/events/238205055/" target="_blank">
              <span class="calendar-event-date">Thu 23</span>
              <span class="calendar-event-details">
                <span>Discussion Dinners (DD#4)</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 id="april">April</h2>
        <ul>
          <li class="other-event">
            <a href="https://smashingconf.com/" target="_blank">
              <span class="calendar-event-date">Tue 04 - Wed 05</span>
              <span class="calendar-event-details">
                <span>SmashingConf</span>
                <span>Conf</span>
                <span>SFO</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="per-event">
            <a href="https://www.meetup.com/web-industry-meetup/events/236983598/" target="_blank">
              <span class="calendar-event-date">Wed 05</span>
              <span class="calendar-event-details">
                <span>Localhost April - Simon Fryer from Doghouse</span>
                <span>Meetup</span>
                <span>PER</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="other-event">
            <a href="https://www.creativesouth.com/" target="_blank">
              <span class="calendar-event-date">Thu 06 - Sun 09</span>
              <span class="calendar-event-details">
                <span>Creative South</span>
                <span>Conf</span>
                <span>CSG</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
          <li class="other-event">
            <a href="https://unite.shopify.com/" target="_blank">
              <span class="calendar-event-date">Wed 20 - Thu 21</span>
              <span class="calendar-event-details">
                <span>Shopify Unite</span>
                <span>Conf</span>
                <span>SFO</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 id="may">May</h2>
        <p>There are no events!</p>
      </div>
      <div>
        <h2 id="june">June</h2>
        <ul>
          <li class="other-event">
            <a href="https://smashingconf.com/" target="_blank">
              <span class="calendar-event-date">Tue 13 - Wed 14</span>
              <span class="calendar-event-details">
                <span>SmashingConf</span>
                <span>Conf</span>
                <span>NYC</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 id="july">July</h2>
        <p>There are no events!</p>
      </div>
      <div>
        <h2 id="august">August</h2>
        <p>There are no events!</p>
      </div>
      <div>
        <h2 id="september">September</h2>

        <ul>

          <li class="other-event">
            <a href="https://reasons.to/" target="_blank">
              <span class="calendar-event-date">Mon 4 - Wed 6</span>
              <span class="calendar-event-details">
                <span>Reasons to be creative</span>
                <span>Conf</span>
                <span>BSH</span>
                <span class="calendar-event-link"><%= partial "partials/target-blank" %></span>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 id="october">October</h2>
        <p>There are no events!</p>
      </div>
      <div>
        <h2 id="november">November</h2>
        <p>There are no events!</p>
      </div>
      <div>
        <h2 id="december">December</h2>
        <p>There are no events!</p>
      </div>
    </div>
  </main>
</section>
