---
title: About | Localhost
body_classes: internal
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
page_title: About <br />Localhost
lead_paragraph: Connecting web, creative &amp; digital communities and unearthing local talent across Australia.
video_thumb: /blog/2017/01/20/localhost-recap-january/january-patima.jpg
video_url: https://youtu.be/oZ87Td7bMSw
video_caption: "Watch: Patima introducing Localhost"
layout: about
---

<div class="paragraph-skinny">
	<p>Localhost is a meetup designed to connect web, creative and digital communities, unearthing local talent across Australia. Localhost was born out of Port80 Perth, a community meetup that ran monthly in Perth for 15 years, and is powered by our passionate team of volunteers.</p>
	<p>Launched in 2017, this initiative aims to strengthen the Australian industry through a number of ways and steered by the desire to solve the following questions:</p>
</div>

<div class="paragraph-full">
	<ol class="styled-list">
		<li>What potential can a generalist meetup like this achieve?</li>
		<li>What does the Australian industry actually need?</li>
		<li>What can help amplify individual and community growth?</li>
		<li>How can we encourage more diversity?</li>
		<li>What does it take to be world-class?</li>
	</ol>
</div>

<div class="header">
  <h2>The <br/>
  	Concept</h2>
</div>

<div class="paragraph-skinny">
	<p>Localhost has a unique concept behind it; we definitely didn't want it to be just another meetup clogging up the calendar in our already busy lives! While the local <%= link_to 'Perth meetups', '/calendar/', :alt => 'Find Local events in your city' %> will continue to run on a regular basis, it's <strong>Localhost:Deployment</strong> which offers something truly different.</p>

	<p>Described by our founder, <%= link_to 'Patima', 'https://twitter.com/the_patima', :alt => 'Follow Patima on Twitter' %>, as a <em>"multi-city, supercharged, touring, meetup roadshow"</em>, the deployment will see a speaker representing each city form a touring line-up that will travel together to each location, sharing their knowledge to new audiences, challenging individual comfort zones and gaining XP along the way.</p>

	<p>Our first roadshow (“deployment”) will be held in June.</p>
</div>
<p class="reveal">4 speakers. 4 locations. 4 days.</p>

<div class="paragraph-image">
	<%= partial "partials/components/deployment/deployment-map" %>
</div>
<div class="header">
  <h2>Local <br />
	   Branches</h2>
</div>

<div class="paragraph-skinny">
	<p>Monthly <%= link_to 'meetup events with an awesome speaker', 'https://www.meetup.com/en-AU/Localhost-PER', :alt => 'Follow Localhost PER on Meetup.com' %> are currently run on the first Wednesday of every month in Perth. The Perth branch also organise a series of other <%= link_to 'regular community events', '/calendar/' %>.</p>

	<p><strong>Exciting update!</strong> Brisbane will be also <%= link_to 'launching a branch', 'https://www.meetup.com/en-AU/Localhost-BNE', :alt => 'Follow Localhost BNE on Meetup.com' %> in May 2017.</p>

	<p>Talks will be filmed and <%= link_to 'published', 'https://www.youtube.com/channel/UCXzGRpaB_MUVQAXZN894avg', :alt => 'Follow Localhost on YouTube' %> soon after the event/s to enable reflection and continued public consumption, along with further amplifying the visibility and opportunities for the speakers.</p>

	<p>The <%= link_to 'slides', 'https://slides.com/localhost/hello/' %> are also available for viewing and comments.</p>
</div>
<div class="paragraph-image full">
  <%= tag :img, :src => "/images/brand-assets/localhost/deployment-chart.svg", :alt => 'Localhost has 2 branches, Perth and Brisbane, and on deployment, visits Perth, Melbourne, Syndey, and Brisbane', :class => 'deploy-chart' %>
</div>
<div class="header">
  <h2>Chasing our <br />
  	Unicorn</h2>
</div>
<div class="paragraph-skinny">
	<p>We have a lot of work ahead of us with the monthly events and roadshow, but there are also some other great projects in the works. Every project that we're undertaking will be guided by our goals. We're on a mission!</p>
</div>
<div class="paragraph-full unicorn-objectives">
	<div>
		<h3>To turn up the volume on the Australian industry's voice.</h3>
		<p>Providing local speakers opportunities and exposure beyond their local communities, encouraging growth through experience, training and mentorship.</p>
	</div>
	<div>
		<h3>To create more opportunities for Australian designers and developers.</h3>
		<p>Providing local communities with access to more knowledge and diversity through deliverying a supercharged meetup in multiple destinations across the country.</p>
	</div>
	<div>
		<h3>To bridge distance, encouraging sharing and collaboration.</h3>
		<p>Improving the quality of the Australian web industry through interstate collaboration and removing barriers to sharing knowledge.</p>
	</div>
</div>
<div class="header">
  <h2>Backstage</h2>
</div>
<div class="paragraph-skinny">
	<p>Meet the team and contributors working tirelessly behind the scenes to bring you Localhost. We’re a group of regular folk who simply adore the web and love bringing people together.</p>
</div>
<div class="paragraph-full your-team">
	<div class="team-au">
		<div>
			<%= tag :img, :src => "/images/team/au/team-patima.jpg" %>
      <div class="team-caption">
  			<h3>Patima Tantiprasut</h3>
  			<p class="team-handle"><%= link_to '@the_patima', 'https://twitter.com/the_patima', :alt => 'Follow Patima on Twitter' %></p>
  			<div class="team-desc">
          <p><strong>THE GENERAL</strong>
          By day, Patima co-runs Bam Creative, a Perth-based digital agency. In her spare time she’s also a director of @team6Q, co-organiser for @MixinConf, founder and host of @LocalhostAU, an Australian Web Industry Association (AWIA) committee member, a newbie speaker, writer, not-so-newbie gin drinker and dog lover.</p>
          <p>Patima’s jam is to bring people together to achieve beautiful and meaningful things. Patima has a background in both design and code, and seriously loves to continuously learn and be challenged. Localhost is her passion project and hopes that it'll strengthen the industry and bring communities together. </p>
  		   </div>
  		</div>
		</div>
		<div>
			<%= tag :img, :src => "/images/team/au/team-dt.jpg" %>
      <div class="team-caption">
  			<h3>David Thomas</h3>
  			<p class="team-handle">
          <%= link_to '@thedavidthomas1', 'https://twitter.com/thedavidthomas1', :alt => 'Follow DT on Twitter' %>
        </p>
  			<div class="team-desc">
          <p><strong>THE FORTIFIER</strong>
            DT is a developer. Currently at Bam Creative building websites and apps. DT is always up for  a challenge and is thrilled to be part of the @LocalhostAU team.</p>
            <p>David has a keen interest in gadgets, the internet and all things digital, When he isn’t looking at a screen he’s probably looking at screen.</p>
        </div>
  		</div>
		</div>
		<div>
			<%= tag :img, :src => "/images/team/au/team-corey.jpg" %>
      <div class="team-caption">
  			<h3>Corey Ginnivan</h3>
  			<p class="team-handle">
          <%= link_to '@coreyginnivan', 'https://twitter.com/coreyginnivan', :alt => 'Follow Corey on Twitter' %>
        </p>
  			<div class="team-desc"><strong>THE CAVALRY</strong>
          <p>Corey is a digital product designer and developer. Since 2015, Corey has been the Lead Product Designer at Appbot, a mobile app review sentiment and analysis tool used by some of the most exciting companies in the world, including Disney, Pinterest and Twitter.</p>
          <p>Corey is obsessed with side projects, which even lead him to develop a side project manager… He's worn a collard shirt once (it was white) and he's played inline hockey for Australia.</p>
        </div>
  		</div>
		</div>
		<div>
			<%= tag :img, :src => "/images/team/au/team-teegan.jpg" %>
      <div class="team-caption">
  			<h3>Teegan Lincoln</h3>
  			<p class="team-handle">
          <%= link_to '@teeganlincoln', 'https://twitter.com/teeganlincoln', :alt => 'Follow Teegan on Twitter' %>
        </p>
  			<div class="team-desc">
          <p><strong>THE SNIPER</strong>
            Teegan is an internet enthusiast and front-end developer based in Perth, WA. After work and on her days off, you can find her jamming with her acoustic cover band, practicing spins at the ice rink, or napping.
          </p>

        </div>
  		</div>
		</div>
	</div>
</div>

<div class="team">
	<div class="team-bne">
		<h3>Meet Team BNE</h2>
		<ul>
			<li>Steven Cooper</li>
			<li>Anthony Duffy</li>
			<li>Emma Howchin</li>
			<li>Glen Arrowsmith</li>
		</ul>
	</div>
	<div class="vollies">
		<h3>Meet our volunteers</h2>
		<ul>
			<li>Monique Tilt</li>
			<li>Simeon Johnson</li>
			<li>Phuong Huynh</li>
			<li>Grant MacDonald</li>
			<li>Sam Cross</li>
		</ul>
	</div>
</div>
