---
title: Blog
body_classes: blog
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
pageable: true
page_title: Blog
noPageTitle: true
noMiniColumn: true
---

<% last_date = nil %>
<% page_articles.each_with_index do |article, i| %>
<% date_string = article.date.strftime('%b %Y')  %>
  <% if last_date != date_string %>
    <h2 class="title-grey-block">
      <span><% if i == 0 %>Blog<% else %>Older<% end %></span> <%= article.date.strftime('%B %Y') %>
    </h2>
  <% end %>
<% last_date = date_string %>
  <% if article.data.published != false %>
    <article class="blog-article">
    	<a href="<%= article.url %>">

    		<div class="article-image">
          <div class="article-date"><p><%= article.date.strftime('%d') %> <span class="sr-only"><%= article.date.strftime('%B %Y') %></span></p></div>
    			<img src="<% if article.data.image %><%= article.data.image %><% else %>/images/blog-placeholder.jpg<% end %>" alt="<%= article.data.imageAlt %>" />
    		</div>

    		<div class="article-caption">
          <% if article.data.category || article.data.author %>
      			<p class="author-line">
      				<% if article.data.category %><span class="article-category"><%= article.data.category %></span><% end %>
      			</p>
          <% end %>
    			<h2><%= article.title %></h2>
    			<p class="read-more"><span>Read more</span></p>
    		</div>
    	</a>
    </article>
  <% end %>
<% end %>

<% if paginate && num_pages > 1 %>
  <p class="page-text">Page <%= page_number %> of <%= num_pages %></p>
  <% end %>
<div class="pagination">
  <ul>
    <li><% if paginate && num_pages > 1 %>
      <% if prev_page %>
        <%= link_to 'Previous page', prev_page %>
      <% end %>
    <% end %></li>

    <li><% if paginate %>
      <% if next_page %>
        <% next_page %>
        <%= link_to 'Next page', next_page %>
      <% end %>
    <% end %></li>
  </ul>
</div>
