---
title: Events | Localhost
body_classes:
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
page_title: "Aussie <br />Calendar"
noMiniColumn: true
---
<% content_for :additional_scripts do %>
  <%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js') %>
  <%= javascript_include_tag('events.js') %>
<% end %>

<% if false %>
<section class="events-calendar">
  <div class="event-column">
    <%= partial('events/components/card', :locals => {
      :date => "Wed 1 Mar",
      :name => "Kristy Haines",
      :description => "Lead Designer @ Meerkats",
      :title => "How to Innovate with Design Thinking",
      :image => "/images/events/KristyHaines.jpg",
      :location => "PER",
      :link => "https://www.meetup.com/Localhost-PER/events/236983451/",
      :price => "Free event",
      :button_text => "More Info"
      }) %>
  </div>

  <div class="event-column middle">
    <%= partial('events/components/card', :locals => {
      :date => "More Upcoming",
      :name => "Web and Wellness",
      :description => "Every Wednesday.",
      :link => "https://www.meetup.com/Localhost-PER/",
      :price => "Free event",
      :button_text => "More Info"
      }) %>

    <%= partial('events/components/card', :locals => {
      :name => "Discussion Dinner (DD#4)",
      :date => "Thurs 23 Mar",
      :link => "https://www.meetup.com/Localhost-PER/events/238205055/",
      :description => "Occasional dinners for 10 people.",
      :price => "$35"
      }) %>
  </div>

  <div class="event-column">
    <%= partial('events/components/card', :locals => {
      :date => "Wed 5 Apr",
      :name => "Simon Fryer",
      :description => "Digital Producer @ Doghouse + YouTuber",
      :title => "How to be a More Valuable Developer &amp; Employee",
      :image => "/images/events/SimonFryer.jpg",
      :location => "PER",
      :link => "https://www.meetup.com/Localhost-PER/events/236983598/",
      :price => "Free event",
      :button_text => "More Info"
      }) %>
  </div>
</section>
<% end %>
<section class="calendar-future-events">
  <aside>
    <h2>
      Future <br/>
      Events
    </h2>

    <nav>
      <ul id="month-tabs" style="display:none;">
        <li><a href="#jan" class="month-01">January</a></li>
        <li><a href="#feb" class="month-02">February</a></li>
        <li><a href="#mar" class="month-03">March</a></li>
        <li><a href="#apr" class="month-04">April</a></li>
        <li><a href="#may" class="month-05">May</a></li>
        <li><a href="#june" class="month-06">June</a></li>
        <li><a href="#july" class="month-07">July</a></li>
        <!-- <li><a href="#august" class="month-08">August</a></li>
        <li><a href="#september" class="month-09">September</a></li>
        <li><a href="#october" class="month-10">October</a></li>
        <li><a href="#november" class="month-11">November</a></li>
        <li><a href="#december" class="month-12">December</a></li> -->
      </ul>
    </nav>
  </aside>

  <main>
    <div class="calendar-toggles">
      <p class="filter-by">Filter by</p>
      <label><input type="checkbox" class="city-perth" checked /> <span>Perth</span></label>
      <label><input type="checkbox" class="city-sydney" checked /> <span>Sydney</span></label>
      <label><input type="checkbox" class="city-melbourne" checked /> <span>Melbourne</span></label>
      <label><input type="checkbox" class="city-brisbane" checked /> <span>Brisbane</span></label>
      <label><input type="checkbox" class="city-other" checked /> <span>Other</span></label>
    </div>
    <div class="page-calendar toggle-per toggle-mel toggle-bne toggle-syd toggle-other">
      <div style="display:none" id="tab-01" class="tabPanel" aria-hidden="true" aria-labelledby="tab-01">
        <h2>January</h2>
      </div>
      <div style="display:none" id="tab-02" class="tabPanel tab-02" aria-hidden="true" aria-labelledby="tab-02">
        <h2>February</h2>
      </div>
      <div style="display:none" id="tab-03" class="tabPanel tab-03" aria-hidden="true" aria-labelledby="tab-03">
        <h2>March</h2>
      </div>
      <div style="display:none" id="tab-04" class="tabPanel tab-04" aria-hidden="true" aria-labelledby="tab-04">
        <h2>April</h2>
      </div>
      <div style="display:none" id="tab-05" class="tabPanel tab-05" aria-hidden="true" aria-labelledby="tab-05">
        <h2>May</h2>
      </div>
      <div style="display:none" id="tab-06" class="tabPanel tab-06" aria-hidden="true" aria-labelledby="tab-06">
        <h2>June</h2>
      </div>
      <div style="display:none" id="tab-07" class="tabPanel tab-07" aria-hidden="true" aria-labelledby="tab-07">
        <h2>July</h2>
      </div>
      <div style="display:none" id="tab-08" class="tabPanel tab-08" aria-hidden="true" aria-labelledby="tab-08">
        <h2>August</h2>
      </div>
      <div style="display:none" id="tab-09" class="tabPanel tab-09" aria-hidden="true" aria-labelledby="tab-09">
        <h2>September</h2>
      </div>
      <div style="display:none" id="tab-10" class="tabPanel tab-10" aria-hidden="true" aria-labelledby="tab-10">
        <h2>October</h2>
      </div>
      <div style="display:none" id="tab-11" class="tabPanel tab-11" aria-hidden="true" aria-labelledby="tab-11">
        <h2>November</h2>
      </div>
      <div style="display:none" id="tab-12" class="tabPanel tab-12" aria-hidden="true" aria-labelledby="tab-12">
        <h2>December</h2>
      </div>
    </div>
  </main>
</section>
