---
title: Localhost
body_classes: home
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
---

<div class="welcome">
  <header>
    <div class="logo">
      <%= partial "partials/logo" %>
    </div>
  </header>

  <section class="events">
    <div class="upcoming-event">
      <p class="date">
        <span class="month">January</span>
        <span class="weekday">Thurs</span>
        <span class="day">19</span>
      </p>
      <h2 class="title"><a href="#" title="Find out about [Event name]">Super special launch event or the title of talk</a></h2>
      <p class="speaker">Georgie Lumer (SYD)
        <span class="from">Campaign Monitor</span>
      </p>

      <p class="location">Perth</p>

    </div>
    <div class="future-events">
      <ul>
          <% data.otherevents.events.each do |event| %>
            <li>
              <% if event.date? %>
                <span class="date"><%= event.date %></span>
              <% end %>
              <a href="<%= event.link %>"><%= event.title %>
                <% if event.location? %>
                  <span class="location">(<%= event.location %>)</span>
                <% end %>
              </a>
            </li>
          <% end %>
      </ul>
    </div>
  </section>

<ul class="social">
  <li>
    <% link_to 'https://www.meetup.com/web-industry-meetup/' do %>
      <%= image_tag 'social/logo-meetup.jpg', alt: "Meetup" %>
    <% end %>
  </li>
  <li>
    <% link_to 'https://twitter.com/localhostau' do %>
      <%= image_tag 'social/logo-twitter.svg', alt: "Twitter" %>
    <% end %>
  </li>
</ul>




  <h2>Subscribe Form</h2>
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//events.us14.list-manage.com/subscribe/post?u=7d24e0b9476a06b7262b18263&amp;id=6417baf3c2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
  <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <label for="mce-LNAME">Last Name </label>
  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7d24e0b9476a06b7262b18263_6417baf3c2" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

</div><!-- .welcome -->
