---
title: Localhost - The supercharged meetup for Australian designers and developers
body_classes: home
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
layout: home
---
<section class="events">
  <div class="upcoming-event localhost-upcoming-event">
    <h2 class="title">Calendar</h2>

    <div class="container-fluid">

    </div>
  </div>

  <div class="future-events">
    <p class="date">
      <span class="weekday">Coming Up</span>

      <a href="/events/" class="btn view-all" title="View More Events">
        View All
      </a>
    </p>
    <ul>
    </ul>
  </div>
</section><!-- events section -->

<section class="mission">
  <div class="mission-bits">
    <%= partial "images/bits/home-mission-top.svg" %>
  </div>
  <div class="container">
    <p>Connecting web, creative &amp; digital communities and unearthing local talent across Australia.</p>
  </div>
  <div class="mission-bits">
    <%= partial "images/bits/home-mission-bottom.svg" %>
  </div>
</section><!-- mission section -->

<section class="blog-section-home">
  <div class="article-list">
    <h2><span>We've been writing words</span></h2>
    <% blog.articles[0...3].each do |article| %>
      <article>
        <a href="<%= article.url %>">
          <% if article.data.category || article.data.author %>
          <p class="author-line">
            <% if article.data.category %><span class="article-category"><%= article.data.category %></span><% end %>
          </p>
          <% end %>
          <h2><%= article.title %></h2>
        </a>
      </article>
    <% end %>
  </div>

   <%= partial "partials/subscription-form" %>
</section>
